{% extends "layout.html" %}
{% block title %}
Home - Peacock Social Media
{% endblock title %}

{% block content %}
<center>
    <h1 class="text-4xl text-yellow-700 font-bold ">Are you sure to delete {{ squawk.title }}?</h1>
    <p>This action cannot be undone</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" 
        class="text-body cursor-pointer text-white bg-red-600 border border-default hover:bg-red-700 hover:text-heading focus:ring-4 focus:bg-red-800 shadow-xs font-medium leading-5 rounded min-w-1/3 text-sm px-4 py-2.5 focus:outline-none">
        Confirm Delete
        </button>
    </form>
</center>
{% endblock content %}
